/* PAGE ===== GENERAL ===== */

.container {
	max-width: 1280px;
	margin: auto;
	padding: 10px;
}

/* PAGE ===== HOME ===== */

/* MARK: Header */
header.main {
	box-sizing: border-box;
	background-color: #E74C3C;
	height: 100vh;
	position: relative;
	text-align: center;
	color: #2C3E50;
	overflow: visible !important;
	font-size: 15px;
	animation-name: starter;
	animation-duration: 0.5s;
}

header.main hgroup {
	position: relative;
	top: 17%;
}
header.main h1 {
	/* This is relative to the font-size of <header>
		that way it's easier to JavaScript it.*/
	font-size: 5em; 
}

header.main .tagline {
	font-family: monospace;
	font-weight: bold;
	/* This is relative to the font-size of <header>
		that way it's easier to JavaScript it.*/
	font-size: 2em; 
}

@keyframes starter {
	from {top: -250px;}
	to {top: 0;}
}

/*  MARK: Nav */
nav {
	position: absolute;
	bottom: 30px;
	width: 100%;
	color: #2C3E50;
	padding: 10px 0;
	font-size: 22px;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	flex-wrap: wrap;
	margin: auto;
	max-width: 1280px;
}

nav li {
	display: inline-block;
	margin-right: 2%;

}

nav li a {
	text-decoration: none;
	color: inherit;
	padding: 5px;
	transition: background-color 0.2s;
}

nav li a:hover {
	background-color: rgba(0,0,0,0.1); /* tmp */
}

section {
	margin: 70px auto; /* tmp */
}

section h2 {
	margin: 5px;
	padding: 5px;
}

section main {
	padding: 20px;
}

section.latest main {
	padding: 0;
	
	/*-ms-overflow-style: scrollbar;*/
}

section.latest ul {
	list-style: none;
	display: flex;
	justify-content: center;
	min-width: 400px;
	-webkit-overflow-scrolling: touch;
	padding: 0;
}

section.latest .item {
	white-space: normal;
	transition: transform 0.2s;
	cursor: pointer;
	display: block;
	margin: 15px;
	float: left;
	max-width: 350px;
	width: 33%;
	min-width: 150px;
}

section.latest .item a {
	display: block;
	color: inherit;
	text-decoration: none;
	border-radius: 3px 3px 15px 15px;
}

section.latest .item .imgContainer {
	box-shadow: 0 0 2px rgba(0,0,0,0.6);
	position: relative;
	border: 1px solid #2C3E50;
}

section.latest .item .imgContainer::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: transparent; /* For browsers that do not support gradients */
	background: radial-gradient(rgba(255,255,255,0.5) 1%, #6FC0ED);
	opacity: 0.2;
}

section.latest .item img {
	width: 100%;
}

section.latest .item .title {
	text-align: center;
	padding: 10px;
	/*background-color: #2C3E50;*/
	color:  #2C3E50;
}

section.latest .more {
	color: inherit;
	text-decoration: none;
	display: block;
	width: 120px;
	text-align: center;
	margin: auto;	
	font-size: 22px;
}

section.latest .more:hover {
	text-decoration: underline;
}

section.about {
	background-color: #6FC0ED;
}
section.social main {
    text-align: center;
}
section.social .social-icon {
    background-color: #2C3E50;
    max-width: 150px;
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    margin: auto 2%;
    cursor: pointer;
    transition: background-color 0.2s;
}

section.social .social-icon:hover {
    background-color: #4586BF;
}

section.social .social-icon img {
    width: 100%;
}

/*  MARK: Footer */
footer.main {
	background-color: #ECF0F1;
	color: #555;
	text-align: center;
	font-size: 0.8em;
}

@media (max-width: 500px) {
	header.main {
		font-size: 14px;
	}

	nav ul{
		justify-content: space-around;
	}
	section.latest ul {
		overflow-x: auto;
	}
	

}