---
name: Work
div_id: work
---

<div class="for_anyone">
    {% for post in site.data.work.for_anyone %}

      {% include work_post.html %}

    {% endfor %}
    <div class="clear-fix"></div>

</div>

{% comment %}
<input type="checkbox" class="toggle" id="for_developers_toggle"/>

<div class="toggle_section">
    <label for="for_developers_toggle"><span class="arrow-icon"> &#10095; </span> Developer</label>
</div>
<div class="for_developers">
    {% for post in site.data.work.for_developers %}
    
      {% include work_post.html %}
    

    {% endfor %}
    <div class="clear-fix"></div>

</div>
{% endcomment %}
<div class="spacer"></div>
