<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body>
<div id="wrapper">
    {% include header.html %}

    <main class="main">
        {% for section in site.sections %}
        <input type="checkbox" id="toggle-{{section.div_id}}" aria-hidden='true' style="display: none;">
        <section id="{{section.div_id}}">
            <div class="section-wrapper">
                <header>
                    <div class="container">
                        <label class="section-toggle" for="toggle-{{section.div_id}}"></label>
                        <h2>{{section.name}}</h2>
                    </div>
                </header>
                <main class="content">
                    <div class="container">
                        {{section.content}}
                    </div>
                </main>
            </div>
        </section>
        {% endfor %}
    </main>
</div>
</body>
</html>
